@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
@font-face {
    font-family: AvenirRoman;
    src: url('./assets/Avenir-Roman.ttf');
}
 
html , body{
    background-color:#040714;
    color: #f9f9f9;
    font-family:AvenirRoman ;
}
a{
    color:white;
    text-decoration:none;
}
.backgound{
    background-image: url('/image/login-background.jpg');
    background-size: cover;
    background-position: center;
    
}
.logo-one  {
    background-image: url('/image/cta-logo-one.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.logo-two {
    background-image: url('/image/cta-logo-two.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.logo{
    background-image: url('/image/logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.linkwarper{
    display: flex;
    align-items: center;
    gap: 5px;
}

.homepage{
    background-image: url('/image/homebackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
.Navlink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #f9f9f9;
}


  
.Navlink::before {
    content: "";
    position: absolute;
    bottom: -4px; 
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #f9f9f9;
    transition: width 0.8s ease;
}
  
.Navlink:hover::before {
    width: 100%; 
}

.Login{
    transition:all ease 0.5s;
}

.SliderWraper{
    margin-top: 20px;
}
.slick-arrow{
    opacity: 0;
    transition: all ease 0.5s;

}
.slick-slider{
    transition: all  ease  0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-slider ul li button::before{
  font-size: 10px;
  color: rgb(150, 150, 171);
}
.slick-slider ul li.slick-active button::before{
    color: white;
}
.slick-slider:hover  .slick-arrow{
    opacity: 1;
}

.slick-list{
    overflow:initial;
}
.Imagewrape{
    transition: all  0.5s ease 0s;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  
}
.Imagewrape a {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 /69%) 0px 26px 30px -10px , 
    rgb(0 0 0 /73%) 0px 16px 10px -10px;
    display: block;
    padding: 4px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.Imagewrape a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}
.Imagewrape:hover{
    border: 2px solid white;

}

.Viewerbox{
    border-radius: 10px;
    position: relative;
    box-shadow: rgb(0 0 0 /69%) 0px 26px 30px -10px , 
    rgb(0 0 0 /73%) 0px 16px 10px -10px;
    transition: all  250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border: 3px solid #f9f9f91a;
    overflow: hidden;
}
.Viewerbox video{
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all  250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

}
.Viewerbox:hover video{
    opacity: 1;
}
.Viewerbox:hover{
    border: 3px solid  white;
    transform: scale(1.05);
}
.Viewers .Viewerbox img{
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.wraper::-webkit-scrollbar{
    display: none;
}

.Container  .wraper .Viewerbox img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.Introdcution {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.01));
}

.NotFoundpage{
    background-image: url('/image/404page.jpg');
    background-size: cover;
    background-position: center;
}

@media only  screen and (min-width:768px) {
    body{
        font-size: 16px;
    }
}
@media only  screen and (min-width:480px)  and (max-width:768px) {
    body{
        font-size: 15px;
    }
   
}
@media only  screen and (max-width:479px)  {
    body{
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .Introdcution {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.01));
    }
}


